<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    	
    	<!-- include css in the header -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

        <title>Musique</title>
    </head>
    
    <body>
        <div id="bloc_page">
            <header id="bloc_header">
                <div id="titre_principal">
                    <div id="logo">
                        <img th:src="@{/img/logo.png}" alt="Logo de YoukArt" />
                        <h1>Musique</h1>    
                    </div>
                </div>
                
                <nav>
                	<form action="/search" id="searchthis" method="get">
						<input id="search" name="q" type="text" placeholder="Rechercher" />
						<input id="search-btn" type="submit" value="Rechercher" />
					</form>
                    <ul>
                        <li><a th:href="@{index}">Accueil</a></li>
                        <li><a th:href="@{film}">Film</a></li>
                        <li><a th:href="@{musique}">Série</a></li>
                        <li><a th:href="@{serie}">Musique</a></li>
                        <li><a th:href="@{compte}">Compte</a></li>
                    </ul>
                </nav>
            </header>
            
            <div id="banniere_image">
                <div id="banniere_description">
                    La Grande Vague de Kanagawa, Hokusai 1830 ...
                    <a href="#" class="bouton_rouge">Voir l'article <img th:src="@{/img/flecheblanchedroite.png}" alt="" /></a>
                </div>
            </div>
            
            <section>
                <article>
                    <h1><img th:src="@{/img/ico_musique.png}" alt="Catégorie voyage" class="ico_categorie" />Les dernières musiques</h1>
                </article>
                <aside>
                </aside>
            </section>
            
            <footer>
                <div id="tweet">
                    <h1>Notre dernier tweet</h1>
                    <p>Salut tout le monde c'est TND !!!</p>
                    <p>le 21 mars à 10h04</p>
                </div>
                <div id="mes_photos">
                    <h1>Nouveautés</h1>
                    <p><img th:src="@{/img/photo1.jpg}" alt="Photographie" /><img th:src="@{/img/photo2.jpg}"  alt="Photographie" /><img th:src="@{/img/photo3.jpg}"  alt="Photographie" /><img th:src="@{/img/photo4.jpg}" alt="Photographie" /></p>
                </div>
                <div id="mes_amis">
                    <h1>La team</h1>
                    <div id="listes_amis">
                        <ul>
                            <li><a href="https://www.facebook.com/tuannam.davaux">TND</a></li>
                            <li><a href="https://www.facebook.com/louis.fontaine.902">Mr Orizan2</a></li>
                            <li><a href="https://www.facebook.com/victor.vik0">Kwepy</a></li>
                            <li><a href="https://www.facebook.com/julia.e.isha">Juju</a></li>
                        </ul>
                        <ul>
                            <li><a href="https://www.facebook.com/B.smilly">Rania</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
